# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Dépendances Node.js
node_modules/

# Dossier de build de Vite après "npm run build"
dist/

# Fichiers de configuration locaux/environnement
.env.local
.env.*.local